.taxonomy-select-control a.selected-term-option {
  padding-right: 12px;
}

.taxonomy-select-control a.selected-term-option:hover {
  color: red;
  background-image: url('delete.gif');
  background-repeat: no-repeat;
  background-position: right; 
}


.taxonomy-select-control .option-sets {
  border: 1px solid #000;
  overflow:hidden;
}

.taxonomy-select-control .term-options-hidden {
  display: none;
}

.taxonomy-select-control .option-sets li.active{
  background:url(images/menu-leaf-selected.gif) no-repeat 0px 4px;
}

.taxonomy-select-control .option-sets .options ul {
  float: left;
  width: 100%;
  list-style: none;
  margin: 2px;
  padding: 5px;
}

.taxonomy-select-control .option-sets .options ul li {
  list-style: none;
  margin: 2px;
  padding-left: 12px;
}

/*Adding Garland-friendly theming */

.taxonomy-select-control{
  padding:1em;
}

.taxonomy-select-control #parent-tabs .tab{
  border:0 none;
  height:auto;
  margin:0 0 0 1px;
  padding:4px 1em;
  position:relative;
  text-decoration:none;
  top:-1px;
}

.taxonomy-select-control #parent-tabs .tab.selected {
  background:url(images/bg-tab.png);
  color:#fff;
  font-weight:bold;
}

.taxonomy-select-control #parent-tabs .tab:hover{
  background:url(images/bg-tab.png);
  color:#fff;
}

.taxonomy-select-control .selected-list,
.taxonomy-select-control .option-sets{
  background:#FFFFFF url(images/gradient-inner.png) repeat-x scroll 0 0;
  border:1px solid #D9EAF5;
  margin-bottom:1em;
  padding:1em;
}

.taxonomy-select-control .option-sets{
  height:250px;
}
